*{

margin: 0px;
padding: 0px;
box-sizing: border-box;

}
.borderBookmark{
    color: #3C4852;

}
.filledBookMark{
    color:#BE0006;
}

.headingCell{
    margin-bottom: 15px;
}
.celldetail{
    margin-bottom: 10px;
}